<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Tech Blog</h1>
    </header>
    <nav>
      <a href="/homepage">Home</a>
    </nav>

    {{! This is unnecessary because we already did this in the route. }}
    {{!-- {{#if logged_in}}
        <a href="/dashboard">Dashboard</a>
         <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}} --}}

    {{{body}}}

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>